torch>=1.5.0
torchvision
torchaudio
six
scikit-learn
stringcase
transformers
ply
slimit
astunparse
submitit
prettytable
fairseq==0.10.2
sacrebleu==1.2.11
javalang
psutil
pytest==6.2.2
tree_sitter
cython
sentencepiece